.home {
    height: calc(100vh - 50px);
    padding: 25px;
    display: flex;
    flex-direction: column;
/*     background-image: url(bg-weather.png); */
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    gap: 30px;
    background-repeat: repeat-y;
    font-family: monospace;
    filter: brightness(105%);

}

.first-section {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.search-bar {
    width: 40%;
    height: 55px;
    border: none;
    border-radius: 30px;
    font-size: larger;
    text-align: center;
    font-family: monospace;
    cursor: pointer;
}

.bttn-s {
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 30px;

    transition: 0.5s ease-in-out;

}

.bttn-s:hover {
    background-color: #0251a5;
    color: white;
    box-shadow: 3px 3px 15px 3px rgb(172, 184, 226),
        -3px -3px 10px 3px rgb(172, 176, 226);

}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #f7f7f700;
    border-radius: 20px;
    box-shadow: 5 5 10px rgba(0, 0, 0, 0);
    width: 40%;
}

.warning {
    color: rgba(35, 35, 35, 0.83);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
